.main{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background:  rgba(0,0,0,0.5) ;
    display: flex;
    justify-content: center;
    align-items: center;
}


.message{
    width: 600px;
    height: 500px;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    font-size: 25px;
}